<a href="https://colab.research.google.com/github/jairamsujith3497/jairamsujith3497/blob/main/Built_in_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

max() and min() - Returns the maximum and minimum values from a sequence

sum() - returns the sum of elements in a sequence

range() - generates a sequence of numbers with specified range

sorted() - retuens a new sorted listed elememts

In [1]:
numbers = [10, 5, 8, 15, 3]
max_value = max(numbers)
min_value = min(numbers)
print(max_value)
print(min_value)

15
3

In [2]:
numbers = [10, 5, 8, 15, 3]
sum_value = sum(numbers)
print(sum_value)

41

In [3]:
my_range = range(1,11)
print(list(my_range))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 1, 2, 3, 4, 5, 6, 9]

### Questions to practice (Day - 26):

**Question 1: Using `max()` and `min()`**
Write a Python program that takes a list of numbers as input and prints the maximum and minimum values from that list.

In [5]:
numbers = [20,25,30,70,43]
min_value = min(numbers)
max_value = max(numbers)
print(min_value)
print(max_value)

20
70

Question 2: Using sum()
Write a Python program that takes a list of numbers as input and prints the sum of all the elements in that list.

In [6]:
numbers = [1, 2, 3, 4, 5]
sum_value = sum(numbers)
print(sum_value)

15

Write a Python program that generates a list of even numbers from 2 to 10 using the range() function.

In [9]:
my_range = range(2,11)
for i in my_range:
    if i % 2 == 0:
        print(list(my_range))
        break

[2, 3, 4, 5, 6, 7, 8, 9, 10]

Question 4: Using sorted()
Write a Python program that takes a list of numbers as input, sorts the list in ascending order using the sorted() function, and prints the sorted list.

In [10]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 1, 2, 3, 4, 5, 6, 9]

Question 5: Using len()
Write a Python program that takes a string as input and prints the length of the string using the len() function.

In [11]:
text = "hello,world!"
length = len(text)
print(length)

12

Question 6: Using abs()
Write a Python program that takes a number as input and prints its absolute value using the abs() function.

In [12]:
numbers = -10
abs_value = abs(numbers)
print(abs_value)

10

Question 7: Using all() and any()
Write a Python program that takes a list of boolean values as input and checks if all values are True using the all() function. Then, check if at least one value is True using the any() function.

In [13]:
bool_list = [True,True,False]
All_true = all(bool_list)
Any_list = any(bool_list)
print(All_true)
print(Any_list)

False
True