<a href="https://colab.research.google.com/github/jairamsujith3497/jairamsujith3497/blob/main/day12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for num in range(1,6):
  print(num)

1
2
3
4
5

In [3]:
for num in range(1,7):
  print(num)

1
2
3
4
5
6

Use a for loop to calculate the sum of numbers from 1 to 10.

In [4]:
sum = 0
for num in range(1,11):
  sum += num
  print(sum)

1
3
6
10
15
21
28
36
45
55

Write a for loop to print each character in the string "Hello".

In [5]:
str = "hello"

for char in str:
  print(char)

h
e
l
l
o

Write a for loop to print the first 10 even numbers.

In [9]:
for num in range(0,20,2):
  print(num)

0
2
4
6
8
10
12
14
16
18

Create a for loop that doubles each number in the sequence: 1, 2, 3, 4, 5

In [10]:
for i in range(1,6):
  print(i*2)

2
4
6
8
10