<a href="https://colab.research.google.com/github/jairamsujith3497/jairamsujith3497/blob/main/day18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tuples

Idi kuda list laaga oka data structure eyy! kaani tuples are immutable ante okasari deenni create chesnaka elements ni nuv add or remove cheyyalev ani.
Elements anni parentheses `()` lo esi pedtam seperated by a comma.

Example chusthe:

In [2]:
fruits = ("apple","banana","orange")
print(fruits[0])

apple

In [3]:
person = ("john","newyork",30)
name,city,age = person
print(name)
print(city)
print(age)

john
newyork
30

Tuple Functions:
Tuples support various built-in functions like len(), min(), and max()

In [8]:
numbers = (5,2,8,1,7)
length = len(numbers)
print(length)
maximum = max(numbers)
print(maximum)
minimum = min(numbers)
print(minimum)

5
8
1

tuple concatitnation

In [10]:
t1 = (1,2,3)
t2 =(4,5,6)
t3 = t1+t2
print(t3)

repeated_tuple = t1 *3
print(repeated_tuple)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

### Questions to practice (Day - 18):

1.  Create a tuple containing three elements: 'apple', 5, and True.
Expected Input: No input required.
Expected Output: ('apple', 5, True)

In [11]:
elements =("apple",5,True)
print(elements)

('apple', 5, True)

2.Access the second element from the given tuple: ('cat', 'dog', 'bird', 'fish').
Expected Input: No input required.
Expected Output: 'dog'

In [12]:
item = ("cat","dog","bird","fish")
print(item[1])

dog

3.Concatenate two tuples: (1, 2, 3) and ('a', 'b', 'c').
Expected Input: No input required.
Expected Output: (1, 2, 3, 'a', 'b', 'c')

In [13]:
t1= (1,2,3)
t2 =("a","b","c")
t3 = t1+t2
print(t3)

(1, 2, 3, 'a', 'b', 'c')

4.Find the length of the tuple: (10, 20, 30, 40, 50).
Expected Input: No input required.
Expected Output: 5

In [14]:
num =(10,20,30,40,50)
print(num)
length = len(num)
print(length)

(10, 20, 30, 40, 50)
5

5. Check if the element 25 exists in the tuple: (10, 20, 30, 40, 50).
Expected Input: No input required.
Expected Output: False

In [16]:
item = (10,20,30,40,50)
if item == 25:
  print("True")
else:
  print("false")

false

 6.Create a new tuple with elements from the given tuple (3, 6, 9) repeated 3 times.
 Expected Input: No input required.
 Expected Output: (3, 6, 9, 3, 6, 9, 3, 6, 9)

In [17]:
t1 = (3,6,9)
print(t1*3)

(3, 6, 9, 3, 6, 9, 3, 6, 9)

7.   Perform packing and unpacking on a tuple containing the names of three fruits: 'apple', 'banana', and 'orange'. Use unpacking to assign each fruit to three variables: fruit1, fruit2, and fruit3.

       Expected Input: No input required.
       Expected Output:

- fruit1 = 'apple'
- fruit2 = 'banana'
- fruit3 = 'orange'

In [22]:
fruits =("apple","banana","orange")
fruits1,fruits2,fruits3 = fruits
print("Fruits1 = " +fruits1)
print("Fruits2 = "+fruits2)
print("Fruits3 = "+fruits3)

Fruits1 = apple
Fruits2 = banana
Fruits3 = orange