<a href="https://colab.research.google.com/github/jairamsujith3497/jairamsujith3497/blob/main/day21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sets ante oka unordered collection of unique elements mowa, ante oka element set ki rendu rendu moodu moodu undav okate untadi and then ee particular order lone align ayyi undali ee elements ani em ledu, vaatiki istam ochinattu avi undachu.

In Python, sets are defined using curly braces `{}` or by using the `set()` constructor.

In [ ]:
myset = {1,2,3,4,5}
anotherset =([6,7,8,9,0])

In [2]:
my_set = {1,2,3}
print(my_set)
my_set.add(4)
my_set.add(5)
print(my_set)

{1, 2, 3}
{1, 2, 3, 4, 5}

#practise questions

In [3]:
empty_set ={}
print(empty_set)

{}

Question 2: Adding elements to a set
Expected Input: Set: {1, 2, 3}, Element to add: 4
Expected Output: Set: {1, 2, 3, 4}

In [5]:
set = {1,2,3}
set.add(4)
print(set)

{1, 2, 3, 4}

Question 3: Removing an element from a set
Expected Input: Set: {1, 2, 3, 4}, Element to remove: 3
Expected Output: Set: {1, 2, 4}

In [6]:
set = {1,2,3,4}
set.remove(3)
print(set)

{1, 2, 4}

Question 4: Removing a non-existent element from a set
Expected Input: Set: {1, 2, 3, 4}, Element to remove: 5
Expected Output: Set: {1, 2, 3, 4}

In [7]:
set = {1,2,3,4}
set.remove(5)
print(set)

KeyError: 5

Question 5: Creating a set from a list
Expected Input: List: [5, 10, 15, 20]
Expected Output: Set: {5, 10, 15, 20}

In [9]:
# Input list
input_list = [5, 10, 15, 20]

# Convert the list to a set
output_set = set(input_list)

# Print the resulting set
print("Set:", output_set)

TypeError: 'set' object is not callable

Question 6: Adding multiple elements to a set
Expected Input: Set: {1, 2, 3}, Elements to add: {4, 5}
Expected Output: Set: {1, 2, 3, 4, 5}

In [10]:
set = {1,2,3}
set.update({4,5})
print(set)

{1, 2, 3, 4, 5}

Question 7: Removing elements using discard()
Expected Input: Set: {10, 20, 30, 40}, Elements to remove: {20, 50}
Expected Output: Set: {10, 30, 40}

In [11]:
set = {10,20,30,40}
set.remove(20)
print(set)

{40, 10, 30}