<a href="https://colab.research.google.com/github/jairamsujith3497/jairamsujith3497/blob/main/day22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}
union_set = set1.union(set2)
print(union_set)
intersection_set = set1.intersection(set2)
print(intersection_set)
difference_set = set1.difference(set2)
print(difference_set)
symmentric_difference_set = set1.symmetric_difference(set2)
print(symmentric_difference_set)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

memebership test

In [6]:
my_set = {1,2,3,4,5}
print(3 in my_set)
print(6 in my_set)

True
False

Questions to practice

Question 1: Symmetric Difference between two sets
Expected Input: Set A: {1, 2, 3}, Set B: {3, 4, 5}
Expected Output: {1, 2, 4, 5}

In [8]:
setA = {1,2,3}
setB = {3,4,5}
# Use symmetric_difference() instead of symmentric_set()
symmentric_set = setA.symmetric_difference(setB)
print(symmentric_set)

{1, 2, 4, 5}

Question 2: Checking membership in a set
Expected Input: Set: {1, 2, 3}, Element to check: 2
Expected Output: True

In [9]:
Set = {1,2,3}
if 2 in Set:
  print(True)
else:
  print(False)

True

Question 3: Union of two sets
Expected Input: Set A: {1, 2, 3}, Set B: {3, 4, 5}
Expected Output: {1, 2, 3, 4, 5}

In [10]:
SetA = {1,2,3}
SetB = {3,4,5}
union_Set = SetA.union(SetB)
print(union_Set)

{1, 2, 3, 4, 5}

Question 4: Intersection of two sets
Expected Input: Set A: {1, 2, 3}, Set B: {3, 4, 5}
Expected Output: {3}

In [11]:
SetA = {1,2,3}
SetB = {3,4,5}
intersection_Set = SetA.intersection(SetB)
print(intersection_Set)

{3}

Question 5: Difference between two sets
Expected Input: Set A: {1, 2, 3, 4}, Set B: {3, 4, 5}
Expected Output: {1, 2}

In [12]:
SetA = {1,2,3,4}
SetB = {3,4,5}
difference_Set = SetA.difference(SetB)
print(difference_Set)

{1, 2}

Question 6: Removing duplicate elements from a list using a set
Expected Input: List: [1, 2, 2, 3, 4, 4, 5]
Expected Output: [1, 2, 3, 4, 5]

In [14]:
List = [1,2,2,3,4,4,5]
con_set = set(List)
print(con_set)

{1, 2, 3, 4, 5}

Question 7: Finding the length of a set
Expected Input: Set: {1, 2, 3, 4, 5}
Expected Output: 5

In [17]:
Set = {1,2,3,4,5}
length_set = len(Set)
print(length_set)

5

Question 8: Checking if one set is a subset of another
Expected Input: Set A: {1, 2, 3}, Set B: {1, 2, 3, 4, 5}
Expected Output: True

In [18]:
SetA = {1,2,3}
SetB = {1,2,3,4,5}
if SetA.issubset(SetB):
  print(True)
else:
  print(False)

True

Question 9: Checking if two sets are disjoint
Expected Input: Set A: {1, 2, 3}, Set B: {4, 5, 6}
Expected Output: True

In [19]:
SetA = {1,2,3}
SetB = {4,5,6}
if SetA.isdisjoint(SetB):
  print(True)
else:
  print(False)

True

Question 10: Removing all elements from a set
Expected Input: Set: {1, 2, 3, 4, 5}
Expected Output: An empty set

In [22]:
Set = {1,2,3,4,5}
Set.clear()
print(Set)

set()