<a href="https://colab.research.google.com/github/jairamsujith3497/jairamsujith3497/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variables = variables are container they are usally used to store values.

In [1]:
a = "sujith"
print(a)

sujith

In [4]:
a= 'honey'
print(a)

honey

datatypes:
1)Integer
2)float
3)bollean
4)string

In [5]:
myinteger= 42
print(myinteger)

42

In [6]:
name = "sujith"
print(name)

sujith

In [7]:
float = 3.14
print(float)

3.14

In [8]:
is_true = True
is_false = False
print(is_true)
print(is_false)

True
False

1)1. Declare two variables `a` and `b`, assign integer values to them, and print their sum.
    - **Expected Output:** The sum of `a` and `b`.

In [9]:
a = int(input("enter the number :"))
b = int(input("enter the number :"))
sum = (a+b)
print(sum)

enter the number :10
enter the number :20
30

2. Create a variable `name` and assign your name to it. Print a greeting message using your name.
    - **Expected Output:** Greeting message with your name, e.g., "Hello, John!"

In [12]:
name = "sujith!"
print("hello ," +name)

hello ,sujith!

3. Define a variable `pi` and assign the value of π (pi) to it. Print the value of `pi`.
    - **Expected Output:** The value of π (pi), e.g., 3.14159.
4.

In [14]:
pi = 3.14159
print(pi)

3.14159

4. Define a variable `is_raining` and ask the user to input either "True" or "False" (as a string). Convert the input to a boolean and print its type.
    - **Expected Input:** "True" or "False"
    - **Expected Output:** The data type of the converted boolean.

In [16]:
is_raining = bool(input("enter the value :"))
print(type(is_raining))
print(is_raining)

enter the value :true
<class 'bool'>
True

5. Create a string variable `sentence` containing any sentence of your choice. Ask the user to input a number, convert it to an integer, and print the sentence repeated that number of times.
    - **Expected Input:** A number (e.g., "3")
    - **Expected Output:** The sentence repeated the specified number of times.

In [17]:
sentence = "i love u sujith"
num_times =int(input("enter the number :"))
for i in range(num_times):
  print(sentence)

enter the number :5
i love u sujith
i love u sujith
i love u sujith
i love u sujith
i love u sujith

7. Define a variable `value` and assign any numerical value to it. Ask the user to input a new value. Update the variable `value` with the new input and print the updated value.
- **Expected Input:** A numerical value (e.g., "42")
- **Expected Output:** The updated value of the variable.

These questions cover a range of scenarios related to variables and data types in Python. You can use input() function to get user input for interactive questions.

# ###

In [19]:
value = 42
print(value)
value = int(input("enter the number :"))
print(value)

42
enter the number :34
34

6. Given two variables `x` and `y`, perform the following operations and print the results:
    - Addition of `x` and `y`.
    - Subtraction of `y` from `x`.
    - Multiplication of `x` and `y`.
    - Division of `x` by `y`.
    - `x` raised to the power of `y`.
    - The remainder when `x` is divided by `y`.
    - The floor division of `x` by `y`.

In [20]:
x = 10
y = 20
print(x **y)

100000000000000000000

In [22]:
print(x/y)

0.5

In [24]:
print(y//x)

2