<a href="https://colab.research.google.com/github/jairamsujith3497/jairamsujith3497/blob/main/day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ype Conversion**

Type conversion python la oka data type nunchi inko data type laki convert cheyyadaniki vaadtam mowa! Idi manam python built-in functions vaadi chestham.
Example ki int(), float(), str() etc.

In [1]:
num = "123"
print(type(num))

<class 'str'>

In [2]:
num_int = int(num)
print(type(num_int))

<class 'int'>

In [4]:
num = 3.14
print(type(num))
num_int = int(num)
print(type(num_int))

<class 'float'>
<class 'int'>

In [6]:
num_int = 123
print(type(num_int))
print(num_int)
num_str = str(num_int)
print(type(num_str))
print(num_str)

<class 'int'>
123
<class 'str'>
123

**Questions to practice (Day - 5)**

Question 1:
Convert the integer 42 to a string.

Expected Input:

value = 42

Expected Output:

result = "42"

In [7]:
a = 42
print(a)
st = str(a)
print(st)
print(type(st))

42
42
<class 'str'>

Question 2:
Convert the string "123" to an integer.

Expected Input:

value = "123"

Expected Output:

result = 123

In [8]:
value = "123"
print(type(value))
value1 = int(value)
print(type(value1))
print(value1)

<class 'str'>
<class 'int'>
123

Question 3:
Convert the float 3.14 to an integer.

Expected Input:

value = 3.14

Expected Output:

result = 3

In [9]:
value = 3.14
print(type(value))
val = int(value)
print(type(val))
print(val)

<class 'float'>
<class 'int'>
3

Question 4:
Convert the string "5.5" to a floating-point number.

Expected Input:

value = "5.5"

Expected Output:

result = 5.5

In [10]:
value = "5.5"
print(type(value))
print(value)
val = float(value)
print(val)
print(type(val))

<class 'str'>
5.5
5.5
<class 'float'>

Question 5:
Convert the integer 100 to a boolean.

Expected Input:

value = 100

Expected Output:

result = True

In [11]:
value = 100
print(type(value))
print(value)
val = bool(value)
print(val)
print(type(val))

<class 'int'>
100
True
<class 'bool'>

Question 6:
Convert the boolean True to an integer.

Expected Input:

value = True

Expected Output:

result = 1

In [12]:
value = True
print(type(value))
print(value)
val = int(value)
print(val)
print(type(val))

<class 'bool'>
True
1
<class 'int'>

Question 7:
Convert the string `"False"` to a boolean.

Expected Input:

value = “False”

Expected Output:

result = True

In [13]:
value = "false"
print(value)
print(type(value))
val = bool(value)
print(type(val))
print(val)

false
<class 'str'>
<class 'bool'>
True