<a href="https://colab.research.google.com/github/jairamsujith3497/jairamsujith3497/blob/main/day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Relational Operators

when we to compare two different values we use this comparission operator.

we have 6 types opf operators:



- Equal to (==)
- Not equal to (!=)
- Greater than (>)
- Less than (<)
- Greater than or equal to (>=)
- Less than or equal to (<=)

In [3]:
x = 5
y= 7
print(x == y)
print(x != y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

In [5]:
a = 5
b = 2-7
print(a)
print(b)
print(a == b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

5
-5
False
True
True
False
True
False

### Questions to practice (Day 7):

1. Example: Greater than operator (>)
Input: 5 > 3
Output: True

In [6]:
a = 5
b = 3
print(a>b)

True

2.Example: Less than operator (<)
Input: 10 < 20
Output: True

In [7]:
print(10<20)

True

3.Example: Greater than or equal to operator (>=)
Input: 7 >= 7
Output: True

In [9]:
print(7>=7)

True

4.Example: Less than or equal to operator (<=)
Input: 15 <= 12
Output: False

In [10]:
print(15<=12)

False

5.Example: Equal to operator (==)
Input: "hello" == "hello"
Output: True

In [11]:
print("hello"=="hello")

True

6.Example: Not equal to operator (!=)
Input: 10 != 20
Output: True

In [12]:
a = 10
b = 20
print(a!=b)

True

7.Example: Comparing integers and floats
Input: 5.0 > 4
Output: True

In [14]:
a = 5.0
b = 4
print(a>b)
print(a<b)

True
False

8.Example: Comparing strings with different cases
Input: "Hello" == "hello"
Output: False

In [15]:
a = "hello"
b = "Hello"
print(a==b)

False

9.Example: Using relational operators with booleans
Input: True == False
Output: False

In [17]:
print(True==False)

False

10.Example: Comparing strings
Input: "apple" < "banana"
Output: True

In [18]:
a="apple"
b ="banana"
print(a<b)

True

11.Example: Comparing None with a string
Input: None == "Python"
Output: False

In [19]:
a= None
b="python"
print(a == b)

False

12.Example: Mixing different types in comparisons
Input: 5 > "3"
Output: TypeError

In [20]:
print(5>"3")

TypeError: '>' not supported between instances of 'int' and 'str'

13.Example: Using relational operators with negative numbers
Input: -10 < -5
Output: True

In [21]:
print(-10<-5)

True

In [22]:
print(-10>-5)

False

14.Example: Comparing a string with a number
Input: "42" == 42
Output: False

In [23]:
print("42"==42)

False

15.Example: Using relational operators with floating-point precision
Input: 0.1 + 0.1 + 0.1 == 0.3
Output: False

In [24]:
print(0.1+0.1+0.1==0.3)

False