<a href="https://colab.research.google.com/github/jairamsujith3497/jairamsujith3497/blob/main/day8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Logical Operators

we have 3 logical operators in python

1. `and`: Returns True if both operands are True.
2. `or`: Returns True if at least one of the operands is True.
3. `not`: Returns the opposite boolean value of the operand.

Tip:
True and True ⇒ True
True and False ⇒ False
False and True ⇒ False
False and False ⇒ False

True or True ⇒ True
True or False ⇒ True
False or True ⇒ True
False or False ⇒ False

In [1]:
%md
# Example 1: Using 'and' with boolean variables

a = true
b = false

result = a and b
print(result)

UsageError: Line magic function `%md` not found.

In [3]:
a = True
b = False

result = a and b
print(result)

False

In [6]:
x = 10
y = 5
result = x>0 and y<10
print(result)

result1 = (x<0)and (y<5)
print(result1)

True
False

or operator

In [7]:
a = True
b = False
result = a or b
print(result)

True

In [8]:
x = 10
y = 5

result = (x<5) or (y>5)
print(result)

False

In [9]:
# Complex example using all logical operators
x = 5
y = 10
z = 15

result = (x < y) and (y < z) or (x == z)
print(result)  # Output: True

True

### Questions to practice (Day 8):

1. Example: "and" operator with two True conditions
Input: (10 > 5) and ("apple" == "apple")
Output: True

In [10]:
print(10>5)and ("apple"=="apple")

True

2.Example: "and" operator with one False condition
Input: (3 < 2) and ("banana" == "orange")
Output: False

In [11]:
print(3<2) and ("banana"=="orange")

False

3.Example: "and" operator with one True and one False condition
Input: (5 >= 3) and (10 != 10)
Output: False

In [12]:
print(5>=3)and (10!=10)

True

4.Example: "or" operator with two True conditions
Input: ("car" == "car") or (7 < 9)
Output: True

In [15]:
print("car"=="car" or  7<9 )

True

5.Example: "or" operator with one False condition
Input: ("dog" == "cat") or (6 < 10)
Output: True

In [16]:
print("dog"=="cat" or 6<10)

True

6.Example: "or" operator with both False conditions
Input: (2 == 3) or (8 > 15)
Output: False

In [17]:
print(2==3 or 8>15)

False

7.Example: "not" operator with True condition
Input: not (4 <= 3)
Output: True

In [18]:
print(not 4<=3)

True

8.Example: "not" operator with False condition
Input: not ("orange" == "orange")
Output: False

In [19]:
print(not "orange" =="orange")

False

9.Example: "not" operator with "and" and "or"
Input: not ((5 > 3) and ("apple" != "banana"))
Output: False

In [20]:
print(not 5>3 and "apple" !="banana")

False

10.Example: "and" and "not" operators combined
Input: (10 > 5) and not (3 < 2)
Output: True

In [22]:
print(not 10>5 and  not 3<2 )

False

11.Example: "or" and "not" operators combined
Input: ("cat" == "cat") or not (6 > 10)
Output: True

In [23]:
print(not "cat"=="cat" or not 6>10)

True

12.Example: Using parentheses for grouping expressions
Input: ((5 >= 3) and (10 != 10)) or (8 > 15)
Output: False

In [25]:
print(5>=3 and 10!=10 or 8>15)

False

13.Example: Combining multiple "and" operators
Input: (2 < 5) and (10 == 10) and ("hello" != "world")
Output: True

In [26]:
print(2<5 and 10==10 and "hello"!="world")

True

14.Example: Combining multiple "or" operators
Input: (7 < 3) or (5 >= 5) or ("apple" == "apple")
Output: True

In [27]:
print(7<3 or 5>=5 or "apple"=="apple")

True

15.Example: Using "not" operator with an expression
Input: not (10 > 5 and "car" != "car")
Output: True

In [29]:
print(not 10>5 and "car" != "car")

False

16.Example: Using "not" operator with "or" and "and"
Input: not (5 > 3 or "dog" == "cat" and 7 < 5)
Output: False

In [30]:
print(not 5>3 or "dog"=="cat" and 7<5)

False

17.Example: Combining "and" and "or" operators
Input: (5 > 3 and "apple" != "banana") or (8 == 8 or 6 < 10)
Output: True

In [31]:
print((5>3 and "apple"!="banana")or(8==8 or 6<10))

True

18.Example: Combining "or" and "not" operators
Input: ("apple" == "banana" or not (6 > 10))
Output: True

In [32]:
print(("apple" =="banana")or not(6>10))

True

19.Example: Complex combination of "and", "or", and "not"
Input: not (2 < 5 and (7 > 3 or "hello" == "world"))
Output: False

In [33]:
print(not(2>5 and (7>3 or "hello"=="world")))

True