<a href="https://colab.research.google.com/github/jairamsujith3497/jairamsujith3497/blob/main/list_day17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List = Its is a mutable collection of objects it is store in [] and seperated in comma

In [1]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [2]:
fruits = ["apple","banana","grape"]
print(fruits)

['apple', 'banana', 'grape']

In [4]:
mixed_list = [1,"apple",True,3.14]
print(mixed_list)

[1, 'apple', True, 3.14]

In [5]:
fruits =["apple","banana","grape","orange"]
fruits[0]

'apple'

In [7]:
list1 =[1,2,3]
list2 =[4,5,6]
list3 = list1 + list2
print(list3)
list4 = list3*2

print(list4)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [14]:
fruits =["apple","banana","grape","orange"]
fruits.append("mango")

print(fruits)
fruits.remove("banana")
print(fruits)
fruits.insert(2,"kiwi")
print(fruits)
fruits.sort()
print(fruits)

['apple', 'banana', 'grape', 'orange', 'mango']
['apple', 'grape', 'orange', 'mango']
['apple', 'grape', 'kiwi', 'orange', 'mango']
['apple', 'grape', 'kiwi', 'mango', 'orange']

### Questions to practice (Day - 17):

1. Write a Python program that takes a list of numbers [1, 2, 3, 4, 5] and prints each number on a new line.
    
    Input: [1, 2, 3, 4, 5]

In [15]:
list = [1,2,3,4,5]

for num in list:
  print(num)

1
2
3
4
5

2. Given a list of strings ["apple", "banana", "orange"], concatenate all the strings together with a space in between and print the result.
    
    Input: ["apple", "banana", "orange"]
    Expected Output: "apple banana orange"

In [18]:
string = ["apple","banana","orange"]
string[0]
string[1]
string[2]
string3 = string[0]+" "+string[1]+" " +string[2]
print(string3)

apple banana orange

3. Write a Python function that takes a list of numbers as input and returns the sum of all the numbers.
    
    Input: [1, 2, 3, 4, 5]
    Expected Output: 15

In [19]:
input = [1,2,3,4,5]
for num in input:
  num = sum(input)
  print(num)

15
15
15
15
15

4. Given a list of numbers [10, 20, 30, 40, 50], find the maximum number using the `max()` function and print the result.
    
    Input: [10, 20, 30, 40, 50]
    Expected Output: 50

In [20]:
numbers = [10,20,30,40,50]
max(numbers)

50

5. Write a Python program that takes a list of names ["Alice", "Bob", "Charlie"] and checks if a given name (e.g., "Alice") is present in the list. Print "Name found" if the name is in the list; otherwise, print "Name not found".
    
    Input: Names = ["Alice", "Bob", "Charlie"], Name = "Alice"
    Expected Output: "Name found"

In [21]:
names = ["Alice","bob","charlie"]
if "Alice" in names:
  print("name found")
else:
  print("name is not found")

name found