<a href="https://colab.research.google.com/github/jairamsujith3497/jairamsujith3497/blob/main/loop_control_sts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

break ,continue,pass
these are the statments

break Statement:
The break statement is used to terminate a loop prematurely when a certain condition is met.


continue Statement:
The continue statement is used to skip the current iteration of a loop and move to the next iteration.

pass Statement:
The pass statement is used as a placeholder when you don't want to execute any code inside a loop or a conditional block.

In [1]:
for num in range(1,6):
  if num == 4:
    break
  print(num)

1
2
3

In [2]:
for num in range(1,8):
  if num %2==0:
    continue
  print(num)

1
3
5
7

In [4]:
# Example: Using 'pass' to do nothing inside the loop
for num in range(1, 6):
    pass

practise questions

Write a Python program to print all numbers from 1 to 10, but stop the loop immediately when reaching 5 using the break statement.

In [5]:
for num in range(1,11):
  if num == 5:
    break
  print(num)

1
2
3
4

2. Given a list of numbers [1, 2, 3, 4, 5], use a `for` loop to print the elements one by one. However, if the element is 3, skip it using the `continue` statement.
Note: Mowa nuv ee problem lo list ni create cheyyali ante my_list = [1,2,3,4,5] ani raayi, in detailed lists gurinchi further reels lo maatladta.
    
    Expected Output:
    
    ```
    1
    2
    4
    5
    ```

In [6]:
list = [1,2,3,4,5]

for num in list:
  if num ==3:
    continue
  print(num)

1
2
4
5

3. Write a Python function that takes a string as input and checks if it contains the letter 'o'. If it does, print "Found 'o'" and use the `break` statement to stop searching.
    
    Input: "Hello, World!"
    Expected Output:
    
    ```
    Found 'o'
    ```

In [8]:
str = "hello,world!"

for char in str:
  if char =="o":
    break
  print("Found o")

Found o
Found o
Found o
Found o

Given a list of numbers [1, 2, 3, 4, 5], use a for loop to double each element and print the result. However, if the element is 4, use the continue statement to skip it.

In [15]:
numbers = [1,2,3,4,5]

for num in numbers:
  if num ==4:
    continue
  double = num *2
  print(double)

2
4
6
10

Write a Python program to print all numbers from 1 to 20 using a while loop. However, stop the loop when reaching 15 using the break statement.

In [3]:
num =1
while num in range(1,21):
  if num == 15:
    break
  print(num)
  num +=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14